
thead {
	background-color: rgb(233,130,51);
	font-size: 12px;
}

.bgblue {
	color: white;
	font-size: 13px;
	min-height: 72px;
	display: inline-block;
    width: 100%;
    margin-bottom: -20px;
}

a#editButton:hover{
	text-decoration: underline;
}

@media(max-height: 420px){
	a#editAccountButton i{
		display: none;
	}
}
