@font-face {
    font-family: 'Headings';
    src: url('/assets/fonts/BebasNeue.woff');
}

@font-face {
    font-family: 'Nav';
    src: url('/assets/fonts/gotham-rounded-medium.woff');
}

@font-face {
    font-family: 'Body';
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}

body {
    font-family: 'Body';
    background-color: #fafafa; 
    color: rgb(38,38,38);
 }

h1, h3{
    font-family: 'Headings';
    letter-spacing: 2px;
    }

h1 {
    font-size: 72px;
    text-align: center;
}
h3 {
    font-size: 42px;
    text-align: center;
    vertical-align: bottom;
}
i, b{
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.alert {
    margin-top: 5%;
}

.blue {
    color: rgb(0,77,139);
}

.center {
    text-align: center;
}

.btn {
    align: center;
    border-radius: 3px;
    font-family: 'Nav';
    font-size: 10.5px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: rgb(233,130,51);
    border: 0;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu > li{
    border-left: 8px solid;
    border-color: transparent;
}

.dropdown-menu > li:hover{
    border-color: rgb(233,130,51);
    background-color: #f2f2f2;
}

.dropdown-menu > li:focus{
    border-color: rgb(233,130,51);
    background-color: #f2f2f2;
}

.dropdown-menu > li > a {
    padding: 0;
}

.dropdown-menu > li > a:focus {
    background-color: #f2f2f2;
}

.dropdown-menu > li > a:hover {
    background-color: #f2f2f2;
}

.form-control{
    border-radius: 0;
    border-width: 2px;
    border-color: #888888;
}

.panel-default{
    padding: 0;
    margin: auto;
    border-radius: 0;
}

.panel-default .panel-heading {
    background-color: rgb(232,131,52);
    border: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: #fafafa;
    border-color: rgb(232,131,52);
    border-width: 8px 0 0 0; 
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-nav>li {
    border-width: 0 0 0 8px;
    border-style: solid;
    border-color: transparent;
    padding-top: 30px;
}

.navbar-nav>li:hover {
    background-color: #f5f5f5;
    border-color: rgb(233,130,51);
}

.navbar-default .navbar-right>li:hover {
    background-color: #fafafa;
    border-color: transparent;

}

.navbar-default .navbar-nav>li>a {
    color: rgb(0,77,139);
    padding: 0 0 10px 0;
    font-family:'Nav';

}

.no-margin {
    margin: 0 auto;
}


@media (max-width:768px){
    img#logoLarge {
        display:none;
    }
}

@media (min-width: 768px){
    b {
        display: none;
    }
    img#logoSmall {
        display:none;
    }

    .navbar {
    	height: 84px;
    }
    .navbar-nav>li {
    	border-width: 0 0 8px 0;
    	min-width: 120px;
    }

    .navbar-default .navbar-nav>li>a {
        padding-top: 52px;
        padding-bottom: 8px;
        text-align: center;
    }
}

@media (min-width: 992px) {

    .narrow {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (max-width: 1000px){
   .navbar-default .navbar-nav>li>a>i#i{
        display: none;
    }
}